@charset "utf-8";

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #323232;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/*.dark-mode {
	background-color: #111111;
}*/

header {
	padding: 32px;
}

footer {
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 300px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: #54FF00;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 2.5vw;
}

.construction {
	color: #FCE100;
	font-size: 3vw;
	margin-top: 100px;
	margin-bottom: 75px;
}

.gif {
	margin-left: auto;
	margin-right: auto;
	max-width: 150px
}

.wip{
	font-size: 2.5vw;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 250px;
	text-align: center;
}

@media screen and (min-width: 600px)  {
      .mobile-break { display: none; }
  }

/*Tablet View*/
@media (min-width: 768px){
	.style-nav ul li {
		display: inline-block;
	}
	.style-nav ul {
		text-align: center;
	}
	.style-logo {
		max-width: 500px;
	}
	.gif {
		max-width: 300px;
	}
	footer {
		font-size: 25px;
	}
}

/*Desktop View*/
@media (min-width: 1024px){
	.style-logo{
		float: left;
	}
	.style-nav {
		float: right;
	}
	.style-nav ul li a{
		color: white;
	}
	.gif {
		max-width: 500px;
		margin-bottom: 50px;
	}
}
.map {
}
