@charset "utf-8";

body,
html * {
	box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a.no-style:hover {
	color: #00FF18;
	cursor: pointer;
}
a.no-style {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* The link will have the same color as the text around it */
    cursor: default; /* Changes the cursor to the default style instead of the pointer */
}
body {
	overflow-x: hidden;
	margin: 0;
	position: relative;
}
header {
	position: fixed; /* or absolute */
    top: 0;
    width: 100%;
	z-index: 1000; /* High value to ensure it's on top */
    transition: top 0.3s; /* Smooth transition for moving header */
	background: rgb(255,255,255);
	background: -webkit-linear-gradient(rgba(255,255,255,1) 85%, rgba(136,136,136,1) 100%);
	background: -o-linear-gradient(rgba(255,255,255,1) 85%, rgba(136,136,136,1) 100%);
	background: linear-gradient(rgba(255,255,255,1) 85%, rgba(136,136,136,1) 100%);
}
.temp {
  display: flex; /* Establishes this element as a flex container */
  justify-content: center; /* Centers children along the main axis (horizontally) */
  align-items: center; /* Centers children along the cross axis (vertically) */
  padding-top: 200px; /* Adds space at the top inside the element */
  height: calc(100% - 200px); /* This sets the height of the container, subtracting the padding-top value */
  width: 100%; /* Sets the width of the container to fill its parent */
}

.temp img {
  width: 250px; /* Sets a specific width for the image */
  max-width: 100%; /* Ensures the image is not wider than its container */
  height: auto; /* Maintains the aspect ratio of the image */
}
.sticky {
  	position: fixed;
  	top: 0;
  	width: 100%;
}

.sticky + .main {
  	padding-top: 102px;
}

.menu-container {
	position: relative;
  	display: flex;
  	align-items: center;
 	margin-bottom: 20px;
  	color: #cdcdcd;
  	padding: 20px;
  	z-index: 3;
  	-webkit-user-select: none;
  	user-select: none;
    box-sizing: border-box;
}
.menu-container a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
    opacity: 50;
    transform: rotate(45deg) translate(3px,-1px);
    background: #00FF18;
}

.menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-2px,7px);
}

.menu ul {
    list-style: none;
}

.menu li {
	font-weight: bold;
    padding: 3px 10px;
    font-size: 28px;
}
/******************************************************************************************************************************/
/*Mobile & Tablet*/
@media screen and (max-width: 1024px) {
	header {
		height: 30px;
		padding: 3px 10px 0 5px;
	}
	.style-logo1 { display: none; }
	.style-logo2 {
		width: 17px;
	}
	.menu-container input:checked ~ .menu a{
	color: white;
	}
	.menu-container {
		background: rgba(0,0,0,0.00);
		margin: -39px -10px 0 0;
		position: absolute;
		flex-direction: column;
		align-items: flex-end;
		right: 0;
  	}
	.menu {
		display: none;
		background: rgba(0,0,0,0.00);
		position: absolute;
		box-sizing: border-box;
		width: 300px;
		right: -300px;
		top: 0;
		margin: -20px;
		padding: 75px 50px 50px;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0% 0%;
		transform: translateX(0%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  	}
    .menu-container input:checked ~ .menu {
		display: contents;
    	transform: translateX(-100%);
    }
	.nav {
		background-color: rgba(0, 0, 0, 0.5);
		margin: -29px -20px 0 0;
		padding: 0 20px 0 20px;
	}

	body {
		background: white;
	}
	/******************************************************************************************************************************/
	/* BODY */
	.body {
		margin-top: 50px;
		padding-bottom: 50px;
		position: relative; /* Needed for positioning the pseudo-element */
	}

	.body h1 {
		font-size: 3vw;
		margin-bottom: 10px;
		text-align: center;
		position: relative; /* Keeps the positioning context for the underline */
		display: block; /* Changes from inline-block to block for centering */
		margin: 0 auto; /* Centers the block-level element */
	}

	.body footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	.body footer .middle {
		font-size: 24px;
		margin-right: auto; /* Pushes all other items to the right */
		text-align: center;
	}

	.body footer .right {
		font-size: 12px;
		margin-left: auto; /* Aligns this item to the right */
		text-align: right;
		margin-right: 25px;
	}

	/* Mobile Footer*/
	.foot_content {
		width: 100%;
	}
	footer {
		margin-top: 1000px;
		position: relative;
		font-size: .66vw;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgba(0,0,0,0.66);
	}

	.foot-table {
		font-size: 12px;
		padding: 10px 25px;
		width: 100%; /* Ensure table takes full width */
		position: relative;
	}

	.foot-table td {
		text-align: left; /* Default alignment */
		width: 33.33%; /* Divide the table into three equal parts */
	}

	.foot-table .center-column {
		text-align: center; /* Center content in the middle column */
	}

	.foot-table .right-column {
		text-align: right; /* Right-align content in the right column */
	}
	.foot-table .left-column {
		text-align: left; /* Right-align content in the right column */
	}
}
/*Mobile View*/
@media screen and (max-width: 768px)  {
	
	
  }

/*Tablet View*/
@media (min-width: 768px) and (max-width: 1024px){
	
	footer {
		font-size: .66vw;
	}
}

/*Desktop Nav*/
@media only screen and (min-width: 1024px) {
	.menu-container {
		right: -40px;
		margin-top: -20px;
		background: rgba(0,0,0,0.00);
		position: absolute;
    	width: 50%;
    }

    .menu-container input {
    	display: none;
    }

    /* Burger menu */
    .menu-container span {
    	display: none;
    }

    .menu {
		margin-right: 30px;
		margin-top: -27px;
		position: relative;
		background-color: rgba(0,0,0,0.00);
		width: 100%;
		display: flex;
		justify-content: space-between;
  	}

    .menu ul {
		display: flex;
		padding: 0;
  	}

    .menu li {
    	padding: 0 20px;
  	}
}

/*Desktop View*/
@media (min-width: 1024px){
	header {
		height: 80px;
		padding: 32px;
	}
	.foot {
		margin-bottom: -20px;
	}
	.mobile-image {
		display: none;
	}
	body {
		margin-top: 25px;
		background-color: white;
	}
	/******************************************************************************************************************************/
	/* BODY */
	.body {
		width: 100%;
		padding-top: 100px;
		padding-bottom: 50px;
	}

	.body h1 {
		font-size: 3vw;
		/* Style for the header */
		margin-bottom: 10px;
		text-align: center;
	}
	.body {
		position: relative; /* Needed for positioning the pseudo-element */
		display: inline-block; /* Ensures the underline only spans the text width */
		margin-bottom: 15px;
		padding: 20px;
	}

	.body h1 {
		position: relative; /* Keeps the positioning context for the underline */
		display: block; /* Changes from inline-block to block for centering */
		margin: 0 auto; /* Centers the block-level element */
		text-align: center; /* Centers the text within the h1 element */
		margin-bottom: 1000px; /* Space for the underline */
	}


	.body h1::after {
		content: '';
		position: absolute;
		left: 0; /* Start from the left edge of h1 */
		right: 0; /* Stretch to the right edge of h1 */
		bottom: -10px; /* Position below the h1 text */
		height: 6px; /* Height of the underline */
		background: linear-gradient(to right, rgba(136,136,136,0) 0%, rgba(0,255,24,1) 50%, rgba(136,136,136,0) 100%);
	}

	.content {
		display: flex;
		justify-content: space-between;
		position: relative; /* Needed for positioning the vertical line */
	}



	/* Responsive Design for Mobile */
	@media screen and (max-width: 768px) {
		.content {
			flex-direction: column;
		}

		.bragging {
			margin-right: 0;
			margin-bottom: 20px;
		}

		.testimonial {
			flex-direction: column;
			align-items: center;
		}
	}

	.body footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	.body footer .middle {
		font-size: 24px;
		margin-right: auto; /* Pushes all other items to the right */
		text-align: center;
	}

	.body footer .right {
		font-size: 12px;
		margin-left: auto; /* Aligns this item to the right */
		text-align: right;
	}
	.style-logo1 {
		display: block;
		float: left;
		margin-top: -10px;
		margin-left: -5px;
		max-height: 80px;
		max-width: 300px;
	}
	.style-logo2 {
		display: none;
	}
	
	/* Desktop Footer*/
	.foot_content {
		width: 100%;
	}
	footer {   
    position: relative;
    font-size: .66vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	color: rgba(0,0,0,0.66);
	}

	.foot-table {
		font-size: 12px;
		padding: 10px 25px;
		width: 100%; /* Ensure table takes full width */
		position: relative;
	}

	.foot-table td {
		text-align: left; /* Default alignment */
		width: 33.33%; /* Divide the table into three equal parts */
	}

	.foot-table .center-column {
		text-align: center; /* Center content in the middle column */
	}

	.foot-table .right-column {
		text-align: right; /* Right-align content in the right column */
	}
	.foot-table .left-column {
		text-align: left; /* Right-align content in the right column */
	}
}
