@charset "utf-8";

body,
html * {
	box-sizing: border-box;
	background-color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
body {
	overflow-x: hidden;
	margin: 0;
	position: relative;
}
header {
	background-color: rgba(0,0,0,0.90);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 102px;
}
footer {	
	position: relative;
	font-size: 1vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.menu-container {
  	position: relative;
  	display: flex;
  	align-items: center;
 	margin-bottom: 20px;
  	color: #cdcdcd;
  	padding: 20px;
  	z-index: 1;
  	-webkit-user-select: none;
  	user-select: none;
    box-sizing: border-box;
}
.menu-container a {
	background: rgba(0,0,0,0.00);
    text-decoration: none;
    color: #7E7E7E;
    transition: color 0.3s ease;
}

.menu-container a:hover {
    color: #00ff18;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    position: relative;
    background: #7E7E7E;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
    opacity: 50;
    transform: rotate(45deg) translate(3px,-1px);
    background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
}

.nav li { background: rgba(0,0,0,0.00); }

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}
.construction {
	color: #FCE100;
	margin-bottom: 50px;
}
.main {
	background-color: rgba(0,0,0,0.00);
}
.wip{
	background-color: rgba(0,0,0,0.00);
	color: white;
	font-size: 1vw;
	margin-bottom: 250px;
	text-align: center;
}

/*Mobile & Tablet*/
@media screen and (max-width: 1024px) {
	header {
		height: 30px;
		padding: 3px 10px 0 5px;
	}
	.style-logo1 { display: none; }
	.style-logo2 {
		width: 17px;
	}
	.menu-container {
		background: rgba(0,0,0,0.00);
		margin: -38px -7px 0 0;
		position: absolute;
		flex-direction: column;
		align-items: flex-end;
		right: 0;
  	}
	.menu {
		display: none;
		background: rgba(0,0,0,0.00);
		position: absolute;
		box-sizing: border-box;
		width: 300px;
		right: -300px;
		top: 0;
		margin: -20px;
		padding: 75px 50px 50px;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0% 0%;
		transform: translateX(0%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  	}
    .menu-container input:checked ~ .menu {
		display: contents;
    	transform: translateX(-100%);
    }
	.nav {
		margin: -20px -20px 0 0;
		padding: 0 20px 0 20px;
	}
	body {
		background-image: url("../../../img/AI_PM_M.png");
		background-repeat: no-repeat;
  		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}
	.wip p {
		background: rgba(0,0,0,0.00);
	}
	.gif {
		background: rgba(0,0,0,0.00);
	}
	.foot {
		margin-bottom: -25px;
	}
	footer > p { font-size: 1.5vw; }
}

/*Mobile View*/
@media screen and (max-width: 768px)  {
	.gif {
		max-width: 250px;
	}
	.wip > p { 
		font-size: 3vw;
		padding: 0 5vw 0 5vw;
	}
	
  }

/*Tablet View*/
@media (min-width: 768px) and (max-width: 1024px){
	.gif {
		max-width: 300px;
	}
	.wip > p { 
		font-size: 3vw; 
	}
	footer {
		font-size: 25px;
	}
}

/*Desktop Nav*/
@media only screen and (min-width: 1024px) {
	.menu-container {
		margin-top: -20px;
		background: rgba(0,0,0,0.00);
		position: absolute;
    	width: 100%;
    }

    .menu-container input {
    	display: none;
    }

    /* Burger menu */
    .menu-container span {
    	display: none;
    }

    .menu {
		margin-right: 30px;
		margin-top: -20px;
		position: relative;
		background-color: rgba(0,0,0,0.00);
		width: 100%;
		display: flex;
		justify-content: space-between;
  	}

    .menu ul {
		display: flex;
		padding: 0;
  	}

    .menu li {
    	padding: 0 20px;
  	}
}

/*Desktop View*/
@media (min-width: 1024px){
	header {
		height: 80px;
		padding: 32px;
	}
	.foot {
		margin-bottom: -20px;
	}
	body {
		background-image: url("../../../img/AI_PM.png");
		background-repeat: no-repeat;
  		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}
	.style-logo1 {
		display: block;
		float: left;
		margin-top: -15px;
		margin-left: -5px;
		max-height: 80px;
		max-width: 300px;
	}
	.style-logo2 {
		display: none;
	}
	
	a:hover {
		color: #00ff18;
	}
	.gif {
		background-color: rgba(0,0,0,0.00);
		padding-bottom: 50px;
	}
	.wip > p { 
		background-color: rgba(0,0,0,0.00);
		padding: 0 15vw 0 15vw;
		font-size: 1.5vw; 
	}
}
