@charset "utf-8";

html,
html * {
	background-color: #0f171f;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-image: url("../../../img/SMACS_0723_Edited.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
}

header {
/*	padding: 32px;*/
}

footer {
/*
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
*/
}
.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 300px;
}

.style-logo:hover {
	transform: scale(1.25) translateX(1vw);
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: #54FF00;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1vw;
}

@media screen and (min-width: 600px)  {
      .mobile-break { display: none; }
  }

/*Tablet View*/
@media (min-width: 768px){

	.style-nav ul li {
		display: inline-block;
	}
	.style-nav ul {
		text-align: center;
	}
	.style-logo {
		max-width: 500px;
	}
/*
	.gif {
		max-width: 300px;
	}
	footer {
		font-size: 25px;
	}
*/
}

/*Desktop View*/
@media (min-width: 1024px){
	#tbl {
		display: table;
		margin: 15vw auto 5vw auto;
		width: 100%;
		text-align: center;
	}
	
	#tbl tr {
		color: #a9aaaa;
	}
	
	#tbl td {
		width: 10%;
	}
	
	#webb_logo {
		width: 10vw;
		margin-left: auto;
		margin-right: auto;
	}
	
	.sketchfab-embed-wrapper {
		height: 1080px;
		width: 100%;
		text-align: center;
	}
	
	.sketchfab-embed-wrapper h1 {
		padding-top: 10vw;
		color: #a9aaaa;
	}
	
	#jwst {
		width: 66%;
		height: 600px;
		display: inline-block;
	}
	
	.style-logo{
		float: left;
	}
	.style-nav {
		float: right;
	}
	.style-nav ul li a{
		color: white;
	}

	#home:hover {
	transform: scale(1.5);
	background: rgba(255, 255, 255, 0);
	}

	#contact:hover {
	transform: scale(1.5) translateX(-2vw);
	background: rgba(255, 255, 255, 0);
	}
	
	footer {
	color: #a9aaaa;
	font-size: 15px;
	text-align: center;
	margin-top: 8vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
/*	
	.main {
		width: 1000px;
		text-align: center;
		margin: auto;
	}
	
	.icon {
		max-width: 250px;
	}
	.examples {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: auto;
		text-align: center;
		padding-top: 10vw;
		padding-bottom: 10vw;
		width: 1080px;
  		margin: auto;
		
	}
	#me {
		display: grid;
		grid-row-start: 1;
    }
	
	#me img {
		max-height: 15vw;
	}
	.examples h1 {
		font-size: 2vw;
	}
	#item1 {
		display: grid;
		grid-row-start: 1;
	}
	#item2 {
		display: grid;
		grid-row-start: 3;
	}
	item3 {
		display: grid;
		grid-row-start: 2;
	}
*/
}
