@charset "utf-8";

body,
html * {
	box-sizing: border-box;
	background-color: #292929;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}
body {	
	overflow-x: hidden;
	margin: 0;
	position: relative;
}
header {
	position: fixed; /* or absolute */
    top: 0;
    width: 100%;
	z-index: 1000; /* High value to ensure it's on top */
    transition: top 0.3s; /* Smooth transition for moving header */
	background: rgba(41,41,41,1.00);
}
.sticky {
  	position: fixed;
  	top: 0;
  	width: 100%;
}

.sticky + .main {
  	padding-top: 102px;
}

footer {
	position: relative;
	font-size: 1vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	bottom: 0;
}
.menu-container {
	position: relative;
  	display: flex;
  	align-items: center;
 	margin-bottom: 20px;
  	color: #cdcdcd;
  	padding: 20px;
  	z-index: 3;
  	-webkit-user-select: none;
  	user-select: none;
    box-sizing: border-box;
}
.menu-container a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
    opacity: 50;
    transform: rotate(45deg) translate(3px,-1px);
    background: #00FF18;
}

.menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-2px,7px);
}

.menu ul {
    list-style: none;
}

.menu li {
	font-weight: bold;
    padding: 3px 10px;
    font-size: 28px;
}
.gh {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.gh a img {
	max-width: 50vw;
}

.d {
	margin-top: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.d a img {
	max-width: 50vw;
}

.dg {
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}
.ge {
	width: 200px;
	height: auto;
}

/*Mobile Nav*/
@media screen and (max-width: 1024px) {
	.menu-container {
		overflow-x: hidden;
		margin: -60px -30px 0 0;
		position: inherit;
		flex-direction: column;
		align-items: flex-end;
  	}
	.menu {
		display: none;
		background: rgba(0,0,0,0.00);
		position: absolute;
		box-sizing: border-box;
		width: 300px;
		right: -300px;
		top: 0;
		margin: -20px;
		padding: 75px 50px 50px;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0% 0%;
		transform: translateX(0%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  	}
    .menu-container input:checked ~ .menu {
		display: contents;
    	transform: translateX(-100%);
    }
	footer > p { font-size: 1.5vw; }
}

/*Mobile View*/
@media screen and (max-width: 768px)  {
	.style-logo1 {
		display: none;
	}
	.style-logo2 {
		max-width: 35px;
		margin-top: -10px;
	}
	.gh > p, .d > p { font-size: 5vw; }
	footer > p { font-size: 1.5vw; }
  	}
	#discordid {
		font-size: 2vw;
	}
	/* Mobile Footer*/
	.foot_content {
		width: 100%;
	}
	footer {   
		position: relative;
		font-size: .66vw;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgba(0,0,0,0.66);
	}

	.foot-table {
		font-size: 12px;
		padding: 10px 25px;
		width: 100%; /* Ensure table takes full width */
		position: relative;
	}

	.foot-table td {
		text-align: left; /* Default alignment */
		width: 33.33%; /* Divide the table into three equal parts */
	}

	.foot-table .center-column {
		text-align: center; /* Center content in the middle column */
	}

	.foot-table .right-column {
		text-align: right; /* Right-align content in the right column */
	}
	.foot-table .left-column {
		text-align: left; /* Right-align content in the right column */
	}

/*Tablet View*/
@media (min-width: 768px) and (max-width:1024px){
	.style-logo1 {
		display: none;
	}
	.style-logo2 {
		max-width: 35px;
		margin-top: -10px;	
	}
	footer {
		font-size: .66vw;
	}
}

/*Desktop Nav*/
@media only screen and (min-width: 1024px) {
	.menu-container {
		right: -40px;
		margin-top: -20px;
		background: rgba(0,0,0,0.00);
		position: absolute;
    	width: 50%;
    }

    .menu-container input {
    	display: none;
    }

    /* Burger menu */
    .menu-container span {
    	display: none;
    }

    .menu {
		margin-right: 30px;
		margin-top: -25px;
		position: relative;
		background: rgba(0,0,0,0.00);
		width: 100%;
		display: flex;
		justify-content: space-between;
  	}

    .menu ul {
		display: flex;
		padding: 0;
  	}

    .menu li {
    	padding: 0 20px;
  	}
}

/*Desktop View*/
@media (min-width: 1024px){
	header {
		height: 80px;
		padding: 32px;
	}
	.style-logo1 {
		display: block;
		float: left;
		margin-top: -10px;
		margin-left: -5px;
		max-height: 80px;
		max-width: 300px;
	}
	
	.style-logo2 {
		display: none;
	}
	
	.style-nav {
		margin-top: -5px;
		margin-right: -10px;
		float: right;
	}
	.style-nav ul li a{
		padding: 0 1vw 0 1vw;
		font-size: 2vw;
	}
	
	a:hover {
		color: #00ff18;
	}
	
	.gh p , .d p {
		font-size: 2vw;
	}
	#discordid {
		font-size: 1vw;
	}
	footer {   
    position: relative;
    font-size: .66vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	color: rgba(0,0,0,0.66);
	}

	.foot-table {
		font-size: 12px;
		padding: 10px 25px;
		width: 100%; /* Ensure table takes full width */
		position: relative;
	}

	.foot-table td {
		text-align: left; /* Default alignment */
		width: 33.33%; /* Divide the table into three equal parts */
	}

	.foot-table .center-column {
		text-align: center; /* Center content in the middle column */
	}

	.foot-table .right-column {
		text-align: right; /* Right-align content in the right column */
	}
	.foot-table .left-column {
		text-align: left; /* Right-align content in the right column */
	}
}
