@charset "utf-8";

body,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
}

header {
	height: 100px;
	padding: 32px;
}

footer {
	font-size: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	text-transform: uppercase;
}

.gh {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.gh a img {
	max-width: 300px;
}

.d {
	margin-top: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.d a img {
	max-width: 300px;
}

.dg {
	width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}
.ge {
	width: 200px;
	height: auto;
}

/*Mobile View*/
@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
	header { height: 110px; }
	.style-logo1 {
		display: none;
	}
	.style-logo2 {
		max-width: 50px;
		margin-top: -10px;
	}
	.style-nav ul li { font-size: 1vw; }
	.gh > p, .d > p { font-size: 5vw; }
	footer > p { font-size: 1.5vw; }
  }

/*Tablet View*/
@media (min-width: 768px){
	header { clear: both; }
	.style-nav ul li {
		display: inline-block;
	}
	.style-nav ul {
		text-align: center;
	}
	.style-logo1 {
		display: none;
	}
	.style-logo2 {
		max-width: 50px;
		margin-top: -10px;	
	}
	footer {
		font-size: 25px;
	}
}

/*Desktop View*/
@media (min-width: 1024px){

	.style-logo1 {
		display: block;
		float: left;
		margin-top: -10px;
		margin-left: -95px;
		max-height: 80px;
		max-width: 500px;
	}
	
	.style-logo2 {
		display: none;
	}
	
	.style-nav {
		margin-top: -5px;
		margin-right: -10px;
		float: right;
	}
	.style-nav ul li a{
		padding: 0 1vw 0 1vw;
		font-size: 2vw;
	}
	
	a:hover {
		color: #00ff18;
	}
	
	.gh p , .d p {
		font-size: 2vw;
	}
}
